<div class="sidebar">
  <div class="sidebar-header">
    <h3 class="sidebar-brand">
      <span class="text-turquoise">H</span><span>iberus</span>
    </h3>
  </div>

  <div class="sidebar-body">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/metrics" routerLinkActive="active">
          <i class="bi bi-speedometer"></i>
          <span>Métricas</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/employee" routerLinkActive="active">
          <i class="bi bi-person-lines-fill"></i>
          <span>Empleados</span>
        </a>
      </li>

      <li class="nav-divider"><hr /></li>
    </ul>
  </div>

  <div class="sidebar-footer">
    <a class="nav-link">
      <i class="bi bi-person-circle"></i>
      <span>Mi Perfil</span>
    </a>
    <a class="nav-link logout" routerLink="/wellcome">
      <i class="bi bi-box-arrow-right"></i>
      <span>Cerrar Sesión</span>
    </a>
  </div>
</div>
